.head{
    border: 25px;
    
}
body{
    background-color: aquamarine;
    color: black;
  
}
img{
    float: right;
    clear: left;
    margin: 20% left;
    width: 25%;
}
.projects{
    float: right;
    border: 44px;
    margin: 20px;
    padding: 45px;
    
}
.great{
    color: cornflowerblue;
}
#navbarSupportedContent{
    margin-right: 22%;
}
.card{
    background-color: aqua;
    padding: 15%;
}
