body{
    background-color: aquamarine;
    color: black;
}
img{
    float: right;
    clear: left;
    border: 15vh solid aquamarine;
}
.projects{
    float: left;
    border: 44% solid aquamarine;
}