body{
    background-color: aquamarine;
    color: black;
    /* background-image: https://unsplash.com/photos/nY14Fs8pxT8; */
}
img{
    float: right;
    clear: left;
    border: 15vh solid aquamarine;
}
.projects{
    float: left;
    border: 44% solid aquamarine;
}
.container{
    float: left;
}